.minicart {
  width: 80%;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.minicartcontainer {
  /* background-color: red; */
  max-height: 210px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.minicartitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid #ccc;
  padding: 10px;
  text-align: left;
  width: 400px;
}
.minicartitems img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.minicartitems p {
  display: inline;
}
.minicart p {
  font-size: 16px;
}
.minicarttotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;
  /* margin: 20px auto; */
}
.minicart button {
  display: inline;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  /* border: none; */
}
.proceedbutton {
  background-color: brown;
  color: #fff;
  border-color: transparent;
}
.cartbutton {
  background-color: #fff;
}
@media screen and (max-width: 600px) {
  .minicart {
    padding: 14px;
    width: 100%;
  }
  .minicarttotal {
    padding: 0;
  }
}
